<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Empcorner</title>

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
   
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">List</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="/">List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/employees">Employees</a>
          </li>
          <% if(!currentUser) { %>
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/register">Register</a>
            <% } else { %>
           
          <a class="nav-link" href="/logout">Logout</a>
         <% } %> 
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
           
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

    <div class="col-6" style='margin:10px'>
        <div class="card mb-3" >
            
            <div class="card-body">
              <h5 class="card-title">Employee Name: <%=employee.name%></h5>
              <p class="card-text">No. of Presents: <%=employee.present%></p>
              <p class="card-text">EMPCODE: <%=employee.empcode%></p>
         
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted">No. of absents: <%=employee.absent%></li>
                <li class="list-group-item text-muted">Year: <%=employee.year%></li>

                
                <li class="list-group-item text-muted">Month: <%=employee.month%></li>
                <li class="list-group-item">Salary: Rs.<span id='acs'><%=employee.actual_salary%></span><span style="float:right">Proposed salary:<%=employee.salary%>  ,SDM:<%=employee.sdm%></span></li>
            
              </ul>
            
            </div>
          <!--  <button id="rzp-button1">Pay</button> -->
          </div>
     
    </div>
    <a class='card-link btn btn-warning' href="/employees/<%=employee._id%>/edit">Edit</a>
    <form class='d-inline' action='/employees/<%=employee._id%>/?_method=DELETE' method="POST">
      <button class='btn btn-danger'>DELETE</button>
  </form>
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
    <script>
     

     var res=<%- JSON.stringify(employee.actual_salary) %>;
    var orderId ;
    $(document).ready(function(){    var settings = {
        "url": "/create/orderId",
          "method": "POST",
            "timeout": 0, 
             "headers": {    "Content-Type": "application/json"  }, 
              "data": JSON.stringify({    "amount": res*100, }),};//creates new orderId everytime
    $.ajax(settings).done(function (response) {  orderId=response.orderId;  console.log(orderId);  $("button").show();});});
    document.getElementById('rzp-button1').onclick = function(e){
      console.log(res);
      var options = {
    "key": "rzp_test_z5CdHKLS42pn1W", // Enter the Key ID generated from the Dashboard
    "amount": res*100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Acme Corp",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": orderId, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature);
        var settings = {
  "url": "/api/payment/verify",
  "method": "POST",
  "timeout": 0,
  "headers": {
    "Content-Type": "application/json"
  },
  "data": JSON.stringify({response}),
}
    },
    "theme": {
        "color": "#3399cc"
    }
}
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
rzp1.open();
    e.preventDefault();
  }
    </script>
</body>
</html>